{{ $tooldata := getJSON "../toolcalls.json" }}
<html>
<head>
  <link rel="stylesheet" href="{{ "css/gstoolbox.css" | relURL }}">
</head>
<script> function changeBg(color) { document.body.style.background = color; } </script>
<body>


{{ $toolcalls := $tooldata.toolcalls }}
{{ $errors := $tooldata.errors }}

<!-- I MADE A SUPER COMPLICATED TOC RENDERER BECAUSE I DON'T KNOW WHAT I'M DOING -->
<!-- Create an empty map to store unique values -->
{{ $uniqueTools := dict }}
{{ $uniqueToolCnt := 0 }}
{{ $documentedToolCnt := 0 }}

<!-- Iterate over toolcalls and store unique toolname and toolnum in the map -->
{{ range $toolcalls }}
  {{ $uniqueToolCnt = add $uniqueToolCnt 1 }}
  {{ if .docs }}
    {{ $documentedToolCnt = add $documentedToolCnt 1 }}
  {{ end }}

  {{ $key := printf "%s-%s" .toolname .toolnum }}
  {{ if not (index $uniqueTools $key) }}
    {{ $uniqueTools = merge $uniqueTools (dict $key (dict "toolname" .toolname "toolnum" .toolnum)) }}
  {{ end }}
{{ end }}

<!-- Convert the map to a slice manually -->
{{ $uniqueToolsSlice := slice }}
{{ range $uniqueTools }}
  {{ $uniqueToolsSlice = $uniqueToolsSlice | append . }}
{{ end }}


<!-- Calculate the total number of toolcalls and midpoint -->
{{ $total := len $uniqueToolsSlice }}
{{ $midpoint := div (add $total 1) 2 }}


<h1>Apple IIgs Toolbox Reference</h1>

<h3>Documented Parameters Status:  {{div (mul $documentedToolCnt 100) $uniqueToolCnt }}%  ({{$documentedToolCnt}}/{{$uniqueToolCnt}}) </h3>
<ul>
  <li>Additional project information at: <a href="https://github.com/a2infinitum/appleiigs-toolbox">https://github.com/a2infinitum/appleiigs-toolbox</a> </li>
  <li><em>Status:</em></li>
    {{ range $tooldata.datastatus }}
    <ul><li>{{ . }}</li></ul>
    {{ end }}

</ul>
  
Display Mode: 
<button onclick="changeBg('#e5eaf5')">Freeze Purple</button>
<button onclick="changeBg('lightgrey')">Light Grey</button>
<button onclick="changeBg('#edf7f6')">Dusty White</button>
<button onclick="changeBg('white')">White</button>




<hr/>
<h2>Contents - By Tool Set </h2>

{{ $currentToolName := "" }}

<!-- Split into two parts for two columns -->
<table>
  <tr>
    <td>
  <ul>
  {{ range $i, $e := $uniqueToolsSlice }}
    {{ if lt $i $midpoint }}
      {{ if ne $currentToolName $e.toolname }}
        {{ if ne $currentToolName "" }}
          </ul>
        {{ end }}
        <li>
          <strong><a href="#{{ $e.toolname | urlize }}">{{ .toolname }} &mdash; ${{ .toolnum }}</a></strong>
          <ul>
      {{ end }}
      {{ $currentToolName = $e.toolname }}
    {{ end }}
  {{ end }}
  </ul>
  </td>
  {{ $currentToolName := "" }}
  <td>
  <ul>
  {{ range $i, $e := $uniqueToolsSlice }}
    {{ if ge $i $midpoint }}
      {{ if ne $currentToolName $e.toolname }}
        {{ if ne $currentToolName "" }}
          </ul>
        {{ end }}
        <li>
          <strong><a href="#{{ $e.toolname | urlize }}">{{ .toolname }} &mdash; ${{ .toolnum }}</a></strong>
          <ul>
      {{ end }}
      {{ $currentToolName = $e.toolname }}
    {{ end }}
  {{ end }}
  </ul>
  </td>
  </tr>
</table>
<!--  END TOC, NO SERIOUSLY.  I'M BAD AT THIS. -->




<br/><br/>

<h1>Toolbox Reference - By Tool Set</h1>


{{ $currentToolName := "" }}
{{ $inTr := false }}
{{ $prevObj := false }}

{{ range $toolcalls }}

{{ if ne $currentToolName .toolname }}
{{ $currentToolName = .toolname }}

<br/>
<hr class="uncentered-hr">
<hr class="uncentered-hr">
<hr class="uncentered-hr">
<hr class="uncentered-hr">
<h2 id="{{ .toolname | urlize }}">{{ .toolname }}</h2>
<hr class="uncentered-hr">
<hr class="uncentered-hr">
<hr class="uncentered-hr">

<table class="intro">
  <tr><th colspan="3">{{ .toolname }} Calls</th></tr>
  <tr class="intro_header"><th>Routine</th><th>#</th><th>Description</th></tr>
  {{ range $tctmp := $toolcalls }}
  {{ if eq $tctmp.toolname $currentToolName }}
  {{ $toolcallnum := printf "%s%s" .toolcall  .toolnum }}
  <tr><td><a href="#{{ $toolcallnum | urlize }}">{{ .callname }}</a></td><td>${{ .toolcall }}{{ .toolnum }}</td><td>{{ .description }}</td></tr>
  {{end}}
  {{end}}
</table>

<br/>
<h3>{{ .toolname }} Calls</h3>
{{ end }}
    



<!-- TOOLCALL  -->
  {{ $toolcallnum := printf "%s%s" .toolcall  .toolnum }}
  <div class="api" id="{{ $toolcallnum | urlize }}">
  <br/>
  <h4 class="tn">${{ .toolcall }}{{ .toolnum }}</h4>


  <h4 >{{ .callname }}</h4>
  <p>{{ .description }}</p>

    {{ if .parameters }}
    <div class="section">
    <h5>Parameters</h5> 

    {{ if (.parameters.none) }}
      <p>The stack is not affected by this call.  There are no input or output parameters.</p>
    {{ else }}


      <table class="stack">
      <tr><th>Stack before call</th></tr>
      <tr><td class="top">previous contents</td></tr>
      {{ range .parameters.input }}
      {{ if in .size "word" }}
      <tr><td class="bot">{{ .name }}</td><td></td><td><em>{{ title .size }}</em> &mdash; {{ .description}}</td></tr>
      {{ else if in .size "long" }}
      <tr><td rowspan="2" class="bot">{{ .name }}</td><td>&nbsp;</td><td rowspan="2"><em>{{ title .size }}</em> &mdash; {{ .description}}</td></tr>
      <tr><td>&nbsp;</td><td></td><td></td></tr>
      {{ else if in .size "byte" }}
        {{ if not $inTr}}
          {{ $inTr = true}}
              {{ $prevObj = . }}
        {{ else }}
          {{ $inTr = false}}
          <tr>
            <td class="bot">{{ $prevObj.name }} | {{ .name }}</td>
            <td></td><td><em>{{ title $prevObj.size }}</em> &mdash; {{ $prevObj.description}} &nbsp; | <em>{{ title .size }}</em> &mdash; {{ .description}}</td></tr>

          </tr>
        {{ end }}
      {{ else }}
         <tr><td>{{ .name }} <em>{{ title .size }} </em> &mdash; {{ .description}}</td></tr>
      {{ end }}
      {{ end }}
      <tr><td class="bot"></td><td><em>&larr;</em></td><td><em>SP</em></td></tr>
      </table>
   
      <table class="stack">
        <tr><th>Stack after call</th></tr>
        <tr><td class="top">previous contents</td></tr>
        {{ range .parameters.output }}
        {{ if in .size "word" }}
        <tr><td class="bot">{{ .name }}</td><td></td><td><em>{{ title .size }}</em> &mdash; {{ .description}}</td></tr>
        {{ else if in .size "long" }}
        <tr><td rowspan="2" class="bot">{{ .name }}</td><td>&nbsp;</td><td rowspan="2"><em>{{ title .size }}</em> &mdash; {{ .description}}</td></tr>
        <tr><td>&nbsp;</td><td></td><td></td></tr>
        {{ else if in .size "byte" }}
          {{ if not $inTr}}
            {{ $inTr = true}}
                {{ $prevObj = . }}
          {{ else }}
            {{ $inTr = false}}
            <tr>
              <td class="bot">{{ $prevObj.name }} | {{ .name }}</td>
              <td></td><td><em>{{ title $prevObj.size }}</em> &mdash; {{ $prevObj.description}} &nbsp; | <em>{{ title .size }}</em> &mdash; {{ .description}}</td></tr>
  
            </tr>
          {{ end }}
        {{ else }}
           <tr><td>{{ .name }} <em>{{ title .size }} </em> &mdash; {{ .description}}</td></tr>
        {{ end }}
        {{ end }}
        <tr><td class="bot"></td><td><em>&larr;</em></td><td><em>SP</em></td></tr>
        </table>
    
    {{ end }}
    </div>
    {{ end }}
    
 


    {{ if  .errors }}    
    <div class="section">
      <h5>Errors</h5> 
  
      {{ range $k := .errors }}
        {{ if eq $k "none" }}
          <p>None</p>
        {{ else if eq $k "sl_unchanged" }}
          <p>System Loader errors: &nbsp; Return unchanged</p>
        {{ else if eq $k "pro_unchanged" }}
          <p>ProDOS errors: &nbsp; Return unchanged</p>
        {{ else }}
          {{ $err := index $errors $k }}
          {{ $paddedErr := printf "%-22s" $err.name }}
          <pre>${{ $err.code }}   {{ $paddedErr }}  {{ $err.description }}</pre>
        {{ end }}
      {{ end }}
    </div>
    {{ end }}
    

    {{ if .c }}
    <div class="section">
    <h5>C</h5> 

    {{ if not .c.call }}
      <p>Call must not be made by an application.</p>
    {{ else }}
      <pre>{{ .c.call }} </pre>
    
    {{ end }}
    </div>
    {{ end }}
    
    <br/><br/>
  </div>

{{ end }}

  
</body>
</html>
